<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="name">
                    <h2>Tâche</h2>
                </label>
                <input type="text" id="tache" class="form-control" name="tache" ngModel required>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
            <button class="btn btn-warning" routerLink="/menu">Retour à l'accueil</button>
      </form>
    </div>
  </div>
